language: php

services:
  - mysql

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
  fast_finish: true
  include:
#    - php: '7.1'
#      env: TARGET=phpcs
    - php: '7.1'
      env: TARGET=phpmd
    - php: '7.1'
      env: TARGET=phpunit

before_script:
  - composer self-update
  - composer install

script:
  - if [ "$TARGET" = "phpunit" ]; then bin/console doctrine:database:create; fi
  - if [ "$TARGET" = "phpunit" ]; then bin/console doctrine:schema:create; fi
  - if [ "$TARGET" = "phpunit" ]; then bin/console doctrine:fixtures:load --no-interaction ; fi
  - if [ "$TARGET" = "phpunit" ]; then bin/phpunit -c phpunit.xml.dist --coverage-clover=coverage.clover; fi
  - if [ "$TARGET" = "phpunit" ]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [ "$TARGET" = "phpunit" ]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi
  - if [ "$TARGET" = "phpmd" ]; then bin/phpmd src text ./phpmd-ruleset.xml --suffixes php; fi
#  - if [ "$TARGET" = "phpcs" ]; then bin/phpcs $PWD/src --standard=PSR2; fi

after_failure:
    cat var/logs/test.log