{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paymentcategories list</h1>

    <table class="table " width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paymentCategory in paymentCategories %}
            <tr>
                <td>{{ paymentCategory.id }}</td>
                <td>{{ paymentCategory.name }}</td>
                <td>
                    <a href="{{ path('payment_category_edit', { 'id': paymentCategory.id }) }}" class="btn btn-success">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('payment_category_new') }}" class="btn btn-default">Create a new payment category</a>

{% endblock %}
