{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paymentcategory creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" class="btn btn-success pull-right" />
    <a href="{{ path('payment_category_index') }}" class="btn btn-default pull-left">Back</a>
    {{ form_end(form) }}
{% endblock %}
